*{

    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.container{
    border: 5px solid black;
    width: 100vh;
    height: 100vh;
    align-items: center;
    width: 50%; 
    margin: 0 auto;
}
.cv{
    margin: 80px;
    bottom: 500px;
}
hr{
        border: 2px solid black;
}

p{
    color: rgb(6, 241, 6);
}
/* #skills{
    color: rgb(6, 241, 6);
} */

a{
    color: blue;
    gap: 10px;
}
#edu{
    color: blue;
}